{% extends "common/base.html" %}

{% block styles %}
<style>
    html, body {
        height: 100vh;
    }
</style>
{% endblock styles %}

{% block content %}
    <div class="d-flex h-100 justify-content-center align-items-center">
        <h2 class="text-center align-middle mb-5">Page not found 😢</h2>
    </div>
{% endblock content %}