{% extends "common/base.html" %}

{% block content %}
    <div class="col-9 mx-auto my-4">
        <div class="d-flex justify-content-between">
            <h2>Campaigns</h2>
            <!-- <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" style="width: 7%;">
                Create
            </button> -->
        </div>

        <div class="d-flex">
            <div class="ms-2 flex-grow-1">
                <label for="name-input">Name</label>
                <input id="name-input" type="text" class="form-control" placeholder="Campaign name" aria-label="Customer email" value="{{ name or "" }}">
            </div>
            <div class="ms-2 flex-grow-1">
                <label for="start-date-input">Start date</label>
                <input id="start-date-input" type="date" class="form-control" placeholder="Start date" aria-label="Start date" value="{{ start_date or "" }}">
            </div>
            <div class="d-flex flex-column mx-1">
                <label class="opacity-0">1</label>
                <div class="d-flex flex-grow-1 align-items-center">-</div>
            </div>
            <div class="flex-grow-1 ms-2">
                <label for="end-date-input">End date</label>
                <input id="end-date-input" type="date" class="form-control" placeholder="End date" aria-label="End date" value="{{ end_date or "" }}">
            </div>
            <div class="ms-2 flex-grow-1">
                <label for="limit-select">Limit</label>
                <select id="limit-select" class="form-select" aria-label="Default select example">
                    {% for value in [10, 20, 50, 100] %}
                        <option value="{{ value }}" {% if limit == value %}selected{% endif %}>{{ value }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="d-flex flex-column">
                <label for="search-btn" class="opacity-0">1</label>
                <button id="search-btn" type="submit" class="btn btn-primary ms-2">Search</button>
            </div>
        </div>
        
        <table class="table table-bordered table-striped my-4">
            <thead>
                <tr>
                <th scope="col">Name</th>
                <th scope="col">Started at</th>
                <th scope="col">Finished at</th>
                <th scope="col">Opened</th>
                <th scope="col">Clicked</th>
                <th scope="col">Sent</th>
                <th scope="col">Purchased</th>
            </tr>
            </thead>
            <tbody>
                {% for c in campaigns%}
                    <tr class="hoverable" onclick="window.location='/campaigns/{{ c.id }}'">
                        <td>{{ c.name }}</th>
                        <td>{{ c.started_at.replace(tzinfo=None) }}</td>
                        <td>
                            {% if c.finished_at %}
                                {{ c.finished_at.replace(tzinfo=None) }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>{{ c.opened }}</td>
                        <td>{{ c.clicked }}</td>
                        <td>{{ c.sent }}</td>
                        <td>{{ c.purchased }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <nav class="d-flex justify-content-center">
            <ul class="pagination">
                <li class="page-item {% if not has_prev %}disabled{% endif %}"><a id="prev-btn" class="page-link" href="#">Previous</a></li>
                <li class="page-item {% if not has_next %}disabled{% endif %}"><a id="next-btn" class="page-link" href="#">Next</a></li>
            </ul>
        </nav>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Create order</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="create-order-form">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Customer email</label>
                            <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Email address" required>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Country</label>
                            <input id="country-select" name="country" required placeholder="Select country"/>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">State</label>
                            <input type="text" class="form-control" name="state" placeholder="State">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">City</label>
                            <input type="text" class="form-control" name="city" placeholder="City" required>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Street</label>
                            <input type="text" class="form-control" name="street" placeholder="Street" required>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Appartment</label>
                            <input type="text" class="form-control" name="appartment" placeholder="Appartment" required>
                        </div>

                        <div>
                            <div class="d-flex align-items-center justify-content-between">
                                <span>Order lines</span>
                                <button id="add-order-line" type="button" class="btn btn-primary">Add</button>
                            </div>
                            <div id="order-lines"></div>
                        </div>

                        <div class="modal-footer mt-2 justify-content-center">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="toast-container position-fixed top-0 end-0 p-3">
            <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">Message</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div id="toast-body" class="toast-body">
                    Hello, world! This is a toast message.
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block script %}        
    <script>
        let prevButton = document.getElementById("prev-btn")
        let nextButton = document.getElementById("next-btn")
        let offset = parseInt("{{ offset }}")
        let limit = parseInt("{{ limit }}")
        let prevOffset = Math.max(offset - limit, 0)
        let nextOffset = limit + offset

        let nameInput = document.getElementById("name-input")
        let startDateInput = document.getElementById("start-date-input")
        let endDateInput = document.getElementById("end-date-input")
        let limitSelect = document.getElementById("limit-select")
        let searchButton = document.getElementById("search-btn") 

        function addIfNotEmpty(map, key, value) {
            if (value !== "") map[key] = value
        }

        function search(where) {
            let queryParams = {}
            addIfNotEmpty(queryParams, "name", nameInput.value)
            addIfNotEmpty(queryParams, "start_date", startDateInput.value)
            addIfNotEmpty(queryParams, "end_date", endDateInput.value)
            addIfNotEmpty(queryParams, "limit", limitSelect.options[limitSelect.selectedIndex].value)

            if (where == "current") queryParams.offset = 0
            else if (where == "next") queryParams.offset = nextOffset
            else if (where == "prev") queryParams.offset = prevOffset

            let queryParamsString = new URLSearchParams(queryParams).toString()
            window.location.href = `/campaigns?${queryParamsString}`
        }

        searchButton.addEventListener("click", () => {search("current")})
        prevButton.addEventListener("click", () => {search("prev")})
        nextButton.addEventListener("click", () => {search("next")})

        document.addEventListener("keypress", function(e) {
            if (event.key === "Enter") {
                e.preventDefault();
                searchButton.click();
            }
        });

        // let countrySelect = new TomSelect('#country-select', {
        //     maxItems: 1,
        //     options: availableCountries.map(country => { return {"value": country, "text": country} })
        // });

        let addOrderLineBtn = document.getElementById("add-order-line")
        let orderLines = document.getElementById("order-lines")
        let orderLinesCount = 0

        function createOrderLineElement() {
            let div = document.createElement("div")
            div.classList.add("d-flex", "mb-2")
            let productDiv = document.createElement("div")
            productDiv.classList.add("flex-grow-1", "me-1")
            productDiv.innerHTML = `
                <label for="exampleInputEmail1" class="form-label">Product ${orderLinesCount + 1}</label>
                <input id="product-${orderLinesCount + 1}-select" type="text" name="product-${orderLinesCount + 1}" placeholder="Product" required>
            `

            let quantityDiv = document.createElement("div")
            quantityDiv.classList.add("flex-grow-1", "ms-1")
            quantityDiv.innerHTML = `
                <label for="exampleInputEmail1" class="form-label">Quantity ${orderLinesCount + 1}</label>
                <input type="number" class="form-control" min="1" name="quantity-${orderLinesCount + 1}" placeholder="Quantity" value="1" required>
            `
            div.appendChild(productDiv)
            div.appendChild(quantityDiv)
            return div
        }
        
        // addOrderLineBtn.addEventListener("click", () => {
        //     orderLines.appendChild(createOrderLineElement())
        //     new TomSelect(`#product-${orderLinesCount + 1}-select`, {
        //         maxItems: 1,
        //         options: availableProducts.map(p => { return {"value": p, "text": p} })
        //     });
        //     orderLinesCount += 1
        // })
        // addOrderLineBtn.click()

        function showToast(bgColor, text) {
            const toast = document.getElementById('liveToast')
            toast.style.backgroundColor = bgColor
            const toastBody = document.getElementById('toast-body')
            toastBody.innerHTML = text
            const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toast)
            toastBootstrap.show()
        }

        let createOrderForm = document.getElementById("create-order-form")
        createOrderForm.addEventListener("submit", (e) => {
            e.preventDefault()
            let order = {
                customer_email: createOrderForm.email.value,
                country: createOrderForm.country.value,
                state: createOrderForm.state.value === "" ? null: createOrderForm.state.value,
                city: createOrderForm.city.value,
                street: createOrderForm.street.value,
                appartment: createOrderForm.appartment.value,
            }
            let order_lines = []
            for (let i = 0; i < orderLinesCount; i++) {
                order_lines.push({
                    "product_name": createOrderForm[`product-${i + 1}`].value,
                    "quantity": createOrderForm[`quantity-${i + 1}`].value,
                })
            }
            order.order_lines = order_lines
            
            fetch("/orders", {
                method: "POST",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify(order)
            })
            .then((response) => {
                return new Promise(
                    (resolve) => response.json()
                        .then((data) => resolve({
                            status: response.status,
                            ok: response.ok,
                            data: data,
                        }))
                    );
            })
            .then(({ status, data, ok }) => {
                console.log(data)
                if (!ok) {
                    showToast("#c76363", data)    
                } else {
                    window.location.href = `/orders/${data.id}`
                }
            })
        })

    </script>
{% endblock script %}