{% extends "common/base.html" %}

{% block content %}
    <div class="col-9 mx-auto my-4">
        <div class="d-flex justify-content-between">
            <h2>Campaign#{{ campaign.id }}</h2>
            <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="width: 7%;">
                Edit
            </button> -->
        </div>
        
        <div>
            <div class="my-2">
                <div class="fw-bold me-2">Name</div>
                <div>{{ campaign.name }}</div>
            </div>
            <div class="my-2">
                <div class="fw-bold me-2">Description</div>
                <div>{{ campaign.description }}</div>
            </div>
            <div class="d-flex">
                <div class="my-2 me-2">
                    <div class="fw-bold me-2">Type</div>
                    <div>{{ campaign.type }}</div>
                </div>
                <div class="my-2 me-2">
                    <div class="fw-bold me-2">Channel</div>
                    <div>{{ campaign.channel }}</div>
                </div>
                <div class="my-2 me-2">
                    <div class="fw-bold me-2">Topic</div>
                    <div>{{ campaign.topic }}</div>
                </div>
            </div>

            <div class="d-flex">
                <div class="my-2 me-2">
                    <div class="fw-bold me-2">AB test</div>
                    <div>{{ campaign.is_ab_test }}</div>
                </div>
                <div class="my-2 me-2">
                    <div class="fw-bold me-2">Hour sending limit</div>
                    <div>{{ campaign.hour_sending_limit }}</div>
                </div>
                <div class="my-2 me-2">
                    <div class="fw-bold me-2">Priority</div>
                    <div>{{ campaign.priority }}</div>
                </div>
            </div>

            <div class="d-flex">
                <div class="my-2 me-3">
                    <div class="fw-bold me-3">Started at</div>
                    <div>{{ campaign.started_at.replace(tzinfo=None) }}</div>
                </div>
                <div class="my-2 me-3">
                    <div class="fw-bold me-3">Finished at</div>
                    <div>
                        {% if campaign.finished_at %}
                            {{ campaign.finished_at.replace(tzinfo=None) }}
                        {% else %}
                            -
                        {% endif %}
                    </div>
                </div>
                <div class="my-2 me-3">
                    <div class="fw-bold me-2">Updated at</div>
                    <div>{{ campaign.updated_at.replace(tzinfo=None) }}</div>
                </div>
            </div>

            <div class="my-2">
                <div class="fw-bold my-1">Subject</div>
                <div class="d-flex flex-wrap">
                    <div class="me-2">
                        <div class="fw-bold me-2">Length</div>
                        <div>{{ campaign.subject_length }}</div>
                    </div>
                    <div class="me-2">
                        <div class="fw-bold me-2">Has Personalization</div>
                        <div>{{ campaign.subject_with_personalization }}</div>
                    </div>
                    <div class="me-2">
                        <div class="fw-bold me-2">Has Deadline</div>
                        <div>{{ campaign.subject_with_deadline }}</div>
                    </div>
                    <div class="me-2">
                        <div class="fw-bold me-2">Has Emoji</div>
                        <div>{{ campaign.subject_with_emoji }}</div>
                    </div>
                    <div class="me-2">
                        <div class="fw-bold me-2">Has Bonuses</div>
                        <div>{{ campaign.subject_with_bonuses }}</div>
                    </div>
                    <div class="me-2">
                        <div class="fw-bold me-2">Has Discount</div>
                        <div>{{ campaign.subject_with_discount }}</div>
                    </div>
                    <div class="me-2">
                        <div class="fw-bold me-2">Has Saleout</div>
                        <div>{{ campaign.subject_with_saleout }}</div>
                    </div>
                </div>
            </div>

            <div class="d-flex">
                <div class="my-2 me-4">
                    <div class="fw-bold">Opened</div>
                    <div>{{ campaign.clicked }}</div>
                </div>
                <div class="my-2 me-4">
                    <div class="fw-bold">Clicked</div>
                    <div>{{ campaign.clicked }}</div>
                </div>
                <div class="my-2 me-4">
                    <div class="fw-bold">Sent</div>
                    <div>{{ campaign.sent }}</div>
                </div>
                <div class="my-2 me-4">
                    <div class="fw-bold">Purchased</div>
                    <div>{{ campaign.purchased }}</div>
                </div>
            </div>

        </div>

        <div class="toast-container position-fixed top-0 end-0 p-3">
            <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">Message</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div id="toast-body" class="toast-body">
                    Hello, world! This is a toast message.
                </div>
            </div>
        </div>

    </div>

{% endblock content %}

{% block script %}
    <script>

        function showToast(bgColor, text) {
            const toast = document.getElementById('liveToast')
            toast.style.backgroundColor = bgColor
            const toastBody = document.getElementById('toast-body')
            toastBody.innerHTML = text
            const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toast)
            toastBootstrap.show()
        }

        let form = document.getElementById("update-order-form")
        form.addEventListener("submit", (e) => {
            e.preventDefault()
            let order = {
                status: form.status.value,
            }
            let order_lines = []
            for (let i = 0; i < parseInt(""); i++) {
                order_lines.push({
                    "product_name": form[`product-${i + 1}`].value,
                    "quantity": form[`quantity-${i + 1}`].value,
                })
            }
            order.order_lines = order_lines
            
            fetch(`/orders/`, {
                method: "PUT",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify(order)
            })
            .then((response) => {
                if (!response.ok) {
                    showToast("#c76363", "Failed updating the order")
                } else {
                    window.location.href = `/orders/1`
                }
            })
        })
    </script>
{% endblock script %}