{% extends "common/base.html" %}

{% block content %}
    <div class="col-9 mx-auto my-4">
        <h2>Export</h2>

        <div class="d-flex justify-content-between">
            <div>
                <label for="search-btn" class="opacity-0">1</label>
                <select id="cube-select" class="form-select">
                    <option selected disabled>Choose cube</option>
                    {% for cube in cubes %}
                        <option value="{{ cube.name }}">{{ cube.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="d-flex" style="width: 70%;">
                <div class="me-3 flex-grow-1">
                    <label for="filename-input">Filename</label>
                    <input id="filename-input" type="text" class="form-control" placeholder="Filename" value="export.csv">
                </div>
                <div class="me-3 flex-grow-1">
                    <label for="exporter-select">Exporter</label>
                    <select id="exporter-select" class="form-select">
                        {% for exporter in exporters %}
                            <option value="{{ exporter }}" {% if exporter == "csv" %}selected{% endif %}>
                                {{ exporter }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="me-3">
                    <label for="limit-input">Limit</label>
                    <input id="limit-input" type="number" min="1" class="form-control" placeholder="Limit" value="10">
                </div>
                <div class="flex-grow-1">
                    <label for="search-btn" class="opacity-0">1</label>
                    <button id="export" type="button" class="btn btn-primary w-100">
                        Export
                    </button>
                </div>
            </div>
        </div>

        <div id="cube-content" class="mt-3 ms-1"></div>

    </div>

{% endblock content %}

{% block script %}
    <script>
        let cubes = JSON.parse('{{ cubes|tojson }}')
        let cubeSelect = document.getElementById("cube-select")
        let content = document.getElementById("cube-content")
        let selectedCube = null
        let idCounter = 1;
        let idElementMap = {}

        function setMargin(element, margin) {
            element.style.marginLeft = `${margin}rem`
        }

        function allCheckboxes(element) {
            return element.querySelectorAll('input[type="checkbox"]');
        }

        function getIntId(element) {
            return parseInt(element.id.split("-")[1])
        }

        function renderLevel(level, margin) {
            let element = document.createElement("div")
            let levelElement = document.createElement("div")
            setMargin(element, margin)
            levelElement.innerHTML = `
                <input id="element-${idCounter}" class="form-check-input" type="checkbox" id="flexCheckDefault" checked="true">
                <label class="form-check-label" for="flexCheckDefault">${level.name}</label>
            `
            idElementMap[idCounter] = level
            idCounter += 1
            element.appendChild(levelElement)
            return element
        }

        function renderHierarchy(hierarchy, margin) {
            let element = document.createElement("div")
            let hierarchyElement = document.createElement("div")
            let childLevels = document.createElement("div")
            setMargin(hierarchyElement, margin)
            hierarchyElement.innerHTML = `
                <input id="element-${idCounter}" class="form-check-input" type="checkbox" id="flexCheckDefault" checked="true">
                <label class="form-check-label" for="flexCheckDefault">${hierarchy.name}</label>
            `
            idElementMap[idCounter] = hierarchy
            idCounter += 1
            
            hierarchy.levels.forEach(level => {
                let levelElement = renderLevel(level, margin * 2)
                childLevels.appendChild(levelElement)
            })
            
            element.appendChild(hierarchyElement)
            element.appendChild(childLevels)
            return element
        }

        function renderDimension(dimension) {
            let element = document.createElement("div")
            let dimensionElement = document.createElement("div")
            dimensionElement.innerHTML = `
                <input id="element-${idCounter}" class="form-check-input" type="checkbox" id="flexCheckDefault" checked="true">
                <label class="form-check-label" for="flexCheckDefault">${dimension.name}</label>
            `
            idElementMap[idCounter] = dimension
            idCounter += 1

            element.appendChild(dimensionElement)
            dimension.hierarchies.forEach(hierarchy => {
                let hierarchyElement = renderHierarchy(hierarchy, 2)
                element.appendChild(hierarchyElement)
            })
            return element
        }

        function renderCube(cube) {
            let element = document.createElement("div")
            cube.dimensions.forEach(dimension => {
                let dimensionElement = renderDimension(dimension)
                element.appendChild(dimensionElement)
            })
            cube.measures.forEach(measure => {
                let measureElement = document.createElement("div")
                let measureChild = document.createElement("div")
                measureChild.classList.add("form-check")
                measureChild.innerHTML = `
                    <input id="element-${idCounter}" class="form-check-input" type="checkbox" id="flexCheckDefault" checked="true">
                    <label class="form-check-label" for="flexCheckDefault">${measure.name}</label>
                `
                idElementMap[idCounter] = measure
                idCounter += 1

                measureElement.appendChild(measureChild)
                element.appendChild(measureElement)
            })
            
            return element
        }

        cubeSelect.addEventListener("change", (e) => {
            let selectedCubeName = cubeSelect.options[cubeSelect.selectedIndex].value
            cubes.forEach((cube) => {
                if (cube.name == selectedCubeName) selectedCube = cube
            })

            content.innerHTML = ""
            let cubeElement = renderCube(selectedCube)
            content.appendChild(cubeElement)

            allCheckboxes(cubeElement).forEach(checkbox => {
                checkbox.addEventListener("change", () => {
                    idElementMap[getIntId(checkbox)].is_active = checkbox.checked
                    allCheckboxes(checkbox.parentElement.parentElement).forEach(childCheckbox => {
                        childCheckbox.checked = checkbox.checked
                        idElementMap[getIntId(childCheckbox)].is_active = childCheckbox.checked
                    })
                })
            })
        })

        let exportBtn = document.getElementById("export")
        let exporterSelect = document.getElementById("exporter-select")
        let filenameInput = document.getElementById("filename-input")
        let limitInput = document.getElementById("limit-input")

        exporterSelect.addEventListener("change", () => {
            let exportType = exporterSelect.options[exporterSelect.selectedIndex].value
            let filename = filenameInput.value.split(".")[0]
            filenameInput.value = `${filename}.${exportType}`
        })

        function donwloadUrl(url, name) {
            let link = document.createElement("a");
            link.download = name;
            link.href = url;
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        }

        exportBtn.addEventListener("click", async (e) => {
            let body = {}
            if (limitInput.value) body.limit = limitInput.value
            let exportType = exporterSelect.options[exporterSelect.selectedIndex].value
            body.exporter_type = exportType
            body.cube = selectedCube
            
            fetch("/export/make", {
                method: "POST",
                headers: {
                    "Content-type": "application/json",
                },
                body: JSON.stringify(body)
            })
            .then(response => response.blob())
            .then(blob => {
                const url = window.URL.createObjectURL(blob);
                let link = document.createElement("a");
                link.download = filenameInput.value;
                link.href = url;
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
            })
            .catch((error) => {
                console.error("There was an error!", error);
            });
        })
        
    </script>
{% endblock script %}