{% extends "common/base.html" %}

{% block content %}

    <div class="col-9 mx-auto my-4">
        <div class="mb-3">
            <h2>OLTP Database</h2>
            <button id="init-oltp" type="button" class="me-1 btn btn-success">Initialize Database</button>
            <button id="drop-oltp" type="button" class="ms-1 btn btn-danger">Drop Database</button>
            <button id="fill-oltp" type="button" class="ms-1 btn btn-primary">Fill Database</button>
        </div>

        <div>
            <h2>OLAP Storage</h2>
            <button id="init-storage" type="button" class="me-1 btn btn-success">Initialize Storage</button>
            <button id="drop-storage" type="button" class="ms-1 btn btn-danger">Drop Storage</button>
            <button id="start-etl" type="button" class="ms-1 btn btn-primary">Start ETL</button>
        </div>


        <div id="toast-container" class="toast-container position-fixed top-0 end-0 p-3 d-flex flex-column-reverse">
        </div>
    </div>

{% endblock content %}

{% block script %}
    <script>
        bootstrap.Toast.Default.delay = 2500

        let initOltp = document.getElementById("init-oltp")
        let dropOltp = document.getElementById("drop-oltp")
        let fillOltp = document.getElementById("fill-oltp")

        const toastContainer = document.getElementById("toast-container")

        function showToast(bgColor, text) {
            let toastDiv = document.createElement("div")
            toastDiv.classList.add("toast", "mb-2")
            toastDiv.role = "alert"
            toastDiv.style.backgroundColor = bgColor
            toastDiv.innerHTML = `
                <div class="toast-header">
                    <strong class="me-auto">Message</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">${text}</div>
            `

            toastContainer.appendChild(toastDiv)
            const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastDiv)
            toastBootstrap.show()
        }

        initOltp.addEventListener("click", () => {
            fetch("/database/init", {
                method: "GET"
            })
            .then((response) => {
                if (response.ok) {
                    showToast("#9ACD32", "Successfully initialized OLTP database")
                } else {
                    response.json().then(response => {
                        showToast("#c76363", response.error)    
                    })
                }
            })
        })

        dropOltp.addEventListener("click", () => {
            fetch("/database/drop", {
                method: "GET"
            })
            .then((response) => {
                if (response.ok) {
                    showToast("#9ACD32", "Successfully dropped OLTP database")
                } else {
                    response.json().then(response => {
                        showToast("#c76363", response.error)    
                    })
                }
            })
        })

        let fillRunning = false

        fillOltp.addEventListener("click", () => {
            if (fillRunning) {
                showToast("#c76363", "Another fill is already running")
                return;
            }
            fillRunning = true;

            const eventSource = new EventSource('/database/fill');
    
            eventSource.onopen = () => {
                showToast("#9ACD32", "Started filling OLTP database")
            }

            eventSource.addEventListener("update", function (message) {
                showToast("#9ACD32", message.data)
            })

            eventSource.addEventListener("close", function (message) {
                eventSource.close()
            })

            eventSource.onerror = (error) => {
                showToast("#c76363", error.data)
                eventSource.close()
            }

            fillRunning = false;
        })

        let initStorage = document.getElementById("init-storage")
        let dropStorage = document.getElementById("drop-storage")
        let startEtl = document.getElementById("start-etl")

        initStorage.addEventListener("click", () => {
            fetch("/database/init-storage", {
                method: "GET"
            })
            .then((response) => {
                if (response.ok) {
                    showToast("#9ACD32", "Successfully initialized OLAP storage")
                } else {
                    response.json().then(response => {
                        showToast("#c76363", response.error)    
                    })
                }
            })
        })

        dropStorage.addEventListener("click", () => {
            fetch("/database/drop-storage", {
                method: "GET"
            })
            .then((response) => {
                if (response.ok) {
                    showToast("#9ACD32", "Successfully dropped OLAP storage")
                } else {
                    response.json().then(response => {
                        showToast("#c76363", response.error)    
                    })
                }
            })
        })

        let etlRunning = false

        startEtl.addEventListener("click", () => {
            if (etlRunning) {
                showToast("#c76363", "Another ETL is already running")
                return;
            }
            etlRunning = true;

            const eventSource = new EventSource('/database/fill-storage');
    
            eventSource.onopen = () => {
                showToast("#9ACD32", "Started the ETL process database")
            }

            eventSource.addEventListener("update", function (message) {
                showToast("#9ACD32", message.data)
            })

            eventSource.addEventListener("close", function (message) {
                eventSource.close()
            })

            eventSource.onerror = (error) => {
                showToast("#c76363", error.data)
                eventSource.close()
            }

            etlRunning = false;
        })
    </script>
{% endblock script %}