{% extends "common/base.html" %}

{% block content %}
    <div class="col-9 mx-auto my-4">
        <div class="d-flex justify-content-between">
            <h2>Order#{{ order.id }}</h2>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="width: 7%;">
                Edit
            </button>
        </div>
        
        <div>
            <div class="my-3">
                <div class="fw-bold me-2">Status</div>
                <div>{{ order.status|lower|capitalize }}</div>
            </div>
            <div class="my-3">
                <div class="fw-bold me-2">Created at</div>
                <div>{{ order.created_at.replace(tzinfo=None) }}</div>
            </div>
            <div class="my-3">
                <div class="fw-bold me-2">Updated at</div>
                <div>{{ order.updated_at.replace(tzinfo=None) }}</div>
            </div>
            </div>
            <div class="my-3">
                <div class="fw-bold my-1">Customer</div>
                <div class="d-flex flex-wrap">
                    <div class="me-3">
                        <div class="fw-bold me-2">ID</div>
                        <div>{{ order.customer.id }}</div>
                    </div>
                    <div class="me-3">
                        <div class="fw-bold me-2">Email</div>
                        <div>{{ order.customer.email }}</div>
                    </div>
                    <div class="me-3">
                        <div class="fw-bold me-2">First name</div>
                        <div>{{ order.customer.first_name }}</div>
                    </div>
                    <div class="me-3">
                        <div class="fw-bold me-2">Last name</div>
                        <div>{{ order.customer.last_name }}</div>
                    </div>
                    <div class="me-3">
                        <div class="fw-bold me-2">Gender</div>
                        <div>{{ order.customer.gender|lower|capitalize }}</div>
                    </div>
                    <div class="me-3">
                        <div class="fw-bold me-2">Country</div>
                        <div>{{ order.customer.country }}</div>
                    </div>
                </div>
            </div>
            <div class="my-3">
                <div class="fw-bold my-1">Address</div>
                <div class="d-flex">
                    <div class="me-3">
                        <div class="fw-bold me-2">Country</div>
                        <div>{{ order.address.country }}</div>
                    </div>
                    <div class="me-3">
                        <div class="fw-bold me-2">State</div>
                        <div>{{ order.address.state or "n/a" }}</div>
                    </div>
                    <div class="me-3">
                        <div class="fw-bold me-2">City</div>
                        <div>{{ order.address.city }}</div>
                    </div>
                    <div class="me-3">
                        <div class="fw-bold me-2">Street</div>
                        <div>{{ order.address.street }}</div>
                    </div>
                    <div class="me-3">
                        <div class="fw-bold me-2">Suite</div>
                        <div>{{ order.address.suite or "n/a" }}</div>
                    </div>
                    <div class="me-3">
                        <div class="fw-bold me-2">Appartment</div>
                        <div>{{ order.address.appartment }}</div>
                    </div>
                </div>
            </div>

            <div class="my-3">
                <div class="fw-bold my-1">Order lines</div>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                        <th scope="col">Product name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for order_line in order.order_lines%}
                            <tr>
                                <td>{{ order_line.product_name }}</th>
                                <td>{{ order_line.price }}</td>
                                <td>{{ order_line.quantity }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Edit order</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="update-order-form">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Status</label>
                            <input id="status-input" type="text" name="status" aria-describedby="emailHelp" placeholder="Status" value="{{ order.status }}"" required>
                        </div>

                        <div>
                            <div>Order lines</div>
                            <div id="order-lines">
                                {% for order_line in order.order_lines %}
                                    <div class="d-flex mt-2">
                                        <div class="me-1">
                                            <label for="exampleInputEmail1" class="form-label">Product {{ loop.index }}</label>
                                            <input id="product-{{ loop.index }}-select" class="form-control" type="text" name="product-{{ loop.index }}" placeholder="Product" value="{{order_line.product_name}}" disabled>
                                        </div>
                                        <div>
                                            <label for="exampleInputEmail1" class="form-label">Quantity {{ loop.index }}</label>
                                            <input type="number" class="form-control" min="1" name="quantity-{{ loop.index }}" placeholder="Quantity" value="{{order_line.quantity}}" required>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>

                        <div class="modal-footer mt-2 justify-content-center">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="toast-container position-fixed top-0 end-0 p-3">
            <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">Message</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div id="toast-body" class="toast-body">
                    Hello, world! This is a toast message.
                </div>
            </div>
        </div>

    </div>

{% endblock content %}

{% block script %}
    <script>
        let availableStatuses = JSON.parse('{{ available_statuses|tojson }}')

        new TomSelect('#status-input', {
            maxItems: 1,
            options: availableStatuses.map(st => { return {"value": st, "text": st} })
        });

        function showToast(bgColor, text) {
            const toast = document.getElementById('liveToast')
            toast.style.backgroundColor = bgColor
            const toastBody = document.getElementById('toast-body')
            toastBody.innerHTML = text
            const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toast)
            toastBootstrap.show()
        }

        let form = document.getElementById("update-order-form")
        form.addEventListener("submit", (e) => {
            e.preventDefault()
            let order = {
                status: form.status.value,
            }
            let order_lines = []
            for (let i = 0; i < parseInt("{{ order.order_lines|length }}"); i++) {
                order_lines.push({
                    "product_name": form[`product-${i + 1}`].value,
                    "quantity": form[`quantity-${i + 1}`].value,
                })
            }
            order.order_lines = order_lines
            
            fetch(`/orders/{{order.id}}`, {
                method: "PUT",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify(order)
            })
            .then((response) => {
                if (!response.ok) {
                    showToast("#c76363", "Failed updating the order")
                } else {
                    window.location.href = `/orders/{{order.id}}`
                }
            })
        })
    </script>
{% endblock script %}