{% extends "common/base.html" %}

{% block content %}
    <div class="col-9 mx-auto my-4">

        <div class="d-flex">
            <div>
                <label for="order-id-input">Name</label>
                <input 
                    id="order-id-input"
                    type="text"
                    class="form-control"
                    placeholder="Order ID"
                    aria-label="Order ID"
                    value="{% if order_id %}{{ order_id }}{% endif %}"
                >
            </div>
            <div class="ms-2">
                <label for="customer-email-input">Category</label>
                <input id="customer-email-input" type="text" class="form-control" placeholder="Customer email" aria-label="Customer email" value="{{ customer_email or "" }}">
            </div>
            <div class="ms-2">
                <label for="status-input">Status</label>
                <select id="status-select" class="form-select">
                    <option selected value="">Select status</option>
                    {% for available_status in available_statuses %}
                        <option value="{{ available_status }}" {% if available_status == status %}selected{% endif %}>{{ available_status }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="ms-2">
                <label for="start-date-input">Start date</label>
                <input id="start-date-input" type="date" class="form-control" placeholder="Start date" aria-label="Start date" value="{{ start_date or "" }}">
            </div>
            <div class="d-flex flex-column mx-1">
                <label class="opacity-0">1</label>
                <div class="d-flex flex-grow-1 align-items-center">-</div>
            </div>
            <div>
                <label for="end-date-input">End date</label>
                <input id="end-date-input" type="date" class="form-control" placeholder="End date" aria-label="End date" value="{{ end_date or "" }}">
            </div>
            <div class="ms-2">
                <label for="limit-select">Limit</label>
                <select id="limit-select" class="form-select" aria-label="Default select example">
                    {% for value in [10, 20, 50, 100] %}
                        <option value="{{ value }}" {% if limit == value %}selected{% endif %}>{{ value }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="d-flex flex-column">
                <label for="search-btn" class="opacity-0">1</label>
                <button id="search-btn" type="submit" class="btn btn-primary ms-2">Search</button>
            </div>
        </div>
        
        <table class="table table-bordered table-striped my-4">
            <thead>
                <tr>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Brand</th>
                <th scope="col">Price</th>
            </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr class="hoverable" onclick="window.location='/products/{{ product.id }}'">
                        <td>{{ product.name }}</th>
                        <td>{{ product.category_name }}</td>
                        <td>{{ product.brand_name }}</td>
                        <td>{{ product.price }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <nav class="d-flex justify-content-center">
            <ul class="pagination">
                <li class="page-item {% if not has_prev %}disabled{% endif %}"><a id="prev-btn" class="page-link" href="#">Previous</a></li>
                <li class="page-item {% if not has_next %}disabled{% endif %}"><a id="next-btn" class="page-link" href="#">Next</a></li>
            </ul>
        </nav>

    </div>

{% endblock content %}

{% block script %}
    <script>
        let prevButton = document.getElementById("prev-btn")
        let nextButton = document.getElementById("next-btn")
        let offset = parseInt("{{ offset }}")
        let limit = parseInt("{{ limit }}")
        let prevOffset = Math.max(offset - limit, 0)
        let nextOffset = limit + offset

        let orderIdInput = document.getElementById("order-id-input")
        let customerEmailInput = document.getElementById("customer-email-input")
        let statusSelect = document.getElementById("status-select")
        let startDateInput = document.getElementById("start-date-input")
        let endDateInput = document.getElementById("end-date-input")
        let limitSelect = document.getElementById("limit-select")
        let searchButton = document.getElementById("search-btn") 

        function addIfNotEmpty(map, key, value) {
            if (value !== "") map[key] = value
        }

        function search(where) {
            let queryParams = {}
            addIfNotEmpty(queryParams, "order_id", orderIdInput.value)
            addIfNotEmpty(queryParams, "customer_email", customerEmailInput.value)
            addIfNotEmpty(queryParams, "status", statusSelect.options[statusSelect.selectedIndex].value)
            addIfNotEmpty(queryParams, "start_date", startDateInput.value)
            addIfNotEmpty(queryParams, "end_date", endDateInput.value)
            addIfNotEmpty(queryParams, "limit", limitSelect.options[limitSelect.selectedIndex].value)

            if (where == "current") queryParams.offset = 0
            else if (where == "next") queryParams.offset = nextOffset
            else if (where == "prev") queryParams.offset = prevOffset

            let queryParamsString = new URLSearchParams(queryParams).toString()
            window.location.href = `/orders?${queryParamsString}`
        }

        searchButton.addEventListener("click", () => {search("current")})
        prevButton.addEventListener("click", () => {search("prev")})
        nextButton.addEventListener("click", () => {search("next")})

        document.addEventListener("keypress", function(e) {
            if (event.key === "Enter") {
                e.preventDefault();
                searchButton.click();
            }
        });

    </script>
{% endblock script %}