{% extends "common/base.html" %}

{% block content %}
    <div class="col-9 mx-auto my-4">
        <h2>Reports</h2>

        <div class="d-flex justify-content-between">
            <div>
                <label for="search-btn" class="opacity-0">1</label>
                <select id="report-select" class="form-select">
                    <option selected disabled>Choose report</option>
                    <option value="Sales">Sales</option>
                    <option value="Marketing">Marketing</option>
                </select>
            </div>
        </div>

        <div id="report-content" class="mt-3 ms-1"></div>

    </div>

{% endblock content %}

{% block script %}
    <script type='text/javascript'>
        let reportContent = document.getElementById("report-content")

        function salesElement(elementId) {
            let element = document.createElement("div")
            element.innerHTML = `
                <noscript><a href='#'><img alt='Sales dashboard ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;J3&#47;J38S2BKMP&#47;1_rss.png' style='border: none' /></a></noscript>
                <object class='tableauViz'  style='display:none;'>
                    <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                    <param name='embed_code_version' value='3' />
                    <param name='path' value='shared&#47;J38S2BKMP' />
                    <param name='toolbar' value='yes' />
                    <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;J3&#47;J38S2BKMP&#47;1.png' />
                    <param name='animate_transition' value='yes' />
                    <param name='display_static_image' value='yes' />
                    <param name='display_spinner' value='yes' />
                    <param name='display_overlay' value='yes' />
                    <param name='display_count' value='yes' />
                    <param name='language' value='en-US' />
                    <param name='filter' value='publish=yes' />
                </object>
            `
            element.classList.add("tableauPlaceholder")
            element.id = elementId
            element.style.position = "relative"
            return element
        }

        function marketingElement(elementId) {
            let element = document.createElement("div")
            element.innerHTML = `
                <noscript><a href='#'><img alt='Messages dashboard ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Me&#47;MessagesDashboard&#47;Messagesdashboard&#47;1_rss.png' style='border: none' /></a></noscript>
                <object class='tableauViz'  style='display:none;'>
                    <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                    <param name='embed_code_version' value='3' />
                    <param name='site_root' value='' />
                    <param name='name' value='MessagesDashboard&#47;Messagesdashboard' />
                    <param name='tabs' value='no' />
                    <param name='toolbar' value='yes' />
                    <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Me&#47;MessagesDashboard&#47;Messagesdashboard&#47;1.png' />
                    <param name='animate_transition' value='yes' />
                    <param name='display_static_image' value='yes' />
                    <param name='display_spinner' value='yes' />
                    <param name='display_overlay' value='yes' />
                    <param name='display_count' value='yes' />
                    <param name='language' value='en-US' />
                    <param name='filter' value='publish=yes' />
                </object>
            `
            element.classList.add("tableauPlaceholder")
            element.id = elementId
            element.style.position = "relative"
            return element
        }

        function showReport(element) {
            reportContent.innerHTML = ""
            reportContent.appendChild(element)

            var divElement = element;
            var vizElement = divElement.getElementsByTagName('object')[0];
            if (divElement.offsetWidth > 800) {
                vizElement.style.width = '1200px';
                vizElement.style.height = '727px';
            } else if (divElement.offsetWidth > 500) {
                vizElement.style.width = '1200px';
                vizElement.style.height = '727px';
            } else {
                vizElement.style.width = '100%';
                vizElement.style.height = '1577px';
            }
            var scriptElement = document.createElement('script');
            scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
            vizElement.parentNode.insertBefore(scriptElement, vizElement);
        }

        const showReportMap = {
            "Sales": {
                "elementFunction": salesElement,
                "elementId": "viz1714299325737",
            },
            "Marketing": {
                "elementFunction": marketingElement,
                "elementId": "viz1714302347942",
            }
        }

        let reportSelect = document.getElementById("report-select")
        reportSelect.addEventListener("change", () => {
            let selectedReport = reportSelect.options[reportSelect.selectedIndex].value
            let elementFunction = showReportMap[selectedReport].elementFunction
            let elementId = showReportMap[selectedReport].elementId
            showReport(elementFunction(elementId))
        })

    </script>
{% endblock script %}