<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retail shop</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/static/styles.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/css/tom-select.css" rel="stylesheet">

    {% block styles %}{% endblock styles %}
</head>
<body>
    <div>
        <div class="navbar navbar-expand-lg bg-body-tertiary flex-grow-1">
            <div class="d-flex container-fluid justify-content-between mx-2">
            <div class="d-flex">
                <div class="d-flex align-items-center">
                    <div id="nav-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                
                <a class="navbar-brand py-0 ms-3" href="/">Retail shop</a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="d-block" id="navbarNavAltMarkup"></div>
            </div>
        </div>
    </div>

    <div class="d-flex h-100">
        <div id="sidebar-container" class="bg-body-tertiary" style="width: 0%; opacity: 0; visibility: hidden;">
            <div class="sidebar-div hoverable"><a href="/orders/">Orders</a></div>
            <div class="sidebar-div hoverable"><a href="/campaigns/">Campaigns</a></div>
            <div class="sidebar-div hoverable"><a href="/export/">Export</a></div>
            <div class="sidebar-div hoverable"><a href="/reports/">Reports</a></div>
        </div>
        
        <div id="content" style="width: 100%;">
            {% block content %}{% endblock content %}
        </div>
    
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/js/tom-select.complete.min.js"></script>
    
    {% block script %} {% endblock script %}

    <script>
        $(document).ready(function(){
            $('#nav-icon').click(function(){
                if ($('#sidebar-container').css("opacity") == "0") {
                    $('#sidebar-container').css("opacity", "1");
                    $('#sidebar-container').css("visibility", "visible");
                    $('#sidebar-container').css("width", "20%");
                    $('#content').css("width", "80%");
                    $(this).toggleClass("open");
                } else {
                    $('#sidebar-container').css("width", "0%");
                    $('#sidebar-container').css("opacity", "0");
                    $('#sidebar-container').css("visibility", "hidden");
                    $('#content').css("width", "100%");
                    $(this).toggleClass("open");
                }
            });
        });
    </script>
</body>
</html>